---
openapi: 3.1.0
info:
  version: 1.6.0
  title: APIstax
  summary: Secure and reliable APIs
  termsOfService: https://apistax.io/terms-of-use
  contact:
    name: APIstax Support
    email: support@apistax.io
  license:
    name: Copyright instant:solutions OG
    url: https://instant-it.at
servers:
  - url: https://api.apistax.io
security:
  - ApiKeyHeader: []
paths:
  /v1/html-to-pdf:
    post:
      summary: Convert HTML to PDF
      operationId: convertHtmlToPdf
      tags:
        - HTML to PDF
      requestBody:
        description: HTML payload to convert
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HtmlPayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/HtmlToPdf"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/epc-qr-code:
    post:
      summary: Generate a valid EPC QR Code
      operationId: generateEpcQrCodeJson
      tags:
        - EPC QR Code
      requestBody:
        description: QR Code payload to generate
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EpcQrCodePayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/EpcQrCode"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      summary: Generate a valid EPC QR Code
      operationId: generateEpcQrCode
      tags:
        - EPC QR Code
      parameters:
        - name: bic
          description: The bank identifier code of the recipient bank
          in: query
          required: false
          schema:
            type: string
        - name: iban
          description: The international bank account number of the recipient
          in: query
          required: true
          schema:
            type: string
        - name: recipient
          description: The recipients name
          in: query
          required: true
          schema:
            type: string
        - name: currency
          description: The currency according to ISO 4217
          in: query
          required: false
          schema:
            type: string
            default: EUR
        - name: amount
          description: The amount with a maximum of two decimal places
          in: query
          required: false
          schema:
            type: number
            format: float
        - name: reference
          description: The payment reference
          in: query
          required: false
          schema:
            type: string
        - name: text
          description: The bank transfer text
          in: query
          required: false
          schema:
            type: string
        - name: size
          description: The size of the QR code in pixels
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 300
            maximum: 2000
            minimum: 100
        - name: frame
          description: Draw a frame around the QR code
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: message
          description: A user hint
          in: query
          required: false
          schema:
            type: string
        - name: version
          description: The version in which the QR code is to be generated
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 2
            maximum: 2
            minimum: 1
      responses:
        "200":
          $ref: "#/components/responses/EpcQrCode"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/vat-verification:
    post:
      summary: Verify a companies VAT ID if it is valid
      operationId: verifyVatIdJson
      tags:
        - Verify VAT ID
      requestBody:
        description: VAT ID payload to verify
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VatVerificationPayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/VatVerificationResult"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      summary: Verify a companies VAT ID if it is valid
      operationId: verifyVatId
      tags:
        - Verify VAT ID
      parameters:
        - name: vatId
          in: query
          required: true
          description: The VAT ID to check.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/VatVerificationResult"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/geocode/search:
    post:
      summary: Convert a known address to geo-coordinates
      operationId: geocodeSearchJson
      tags:
        - Geocoding
      requestBody:
        description: Query payload to search for
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeocodeSearchPayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/GeocodeResult"
          description: OK
        "204":
          description: An empty response if no entry could be found for the specified
            query.
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      summary: Convert a known address to geo-coordinates
      operationId: geocodeSearch
      tags:
        - Geocoding
      parameters:
        - name: query
          in: query
          required: true
          description: "A free-text address query. For example: \"Heldenplatz, Wien\"\
          \ or \"Wiedner Hauptstraße 32, 1040 Wien\""
          schema:
            type: string
        - name: language
          in: query
          required: false
          description: "The language used for result localization based on ISO 639-1.\
          \ For example: \"en\" or \"fr\""
          schema:
            type: string
            default: en
      responses:
        "200":
          $ref: "#/components/responses/GeocodeResult"
          description: OK
        "204":
          description: An empty response if no entry could be found for the specified
            query.
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/geocode/reverse:
    post:
      summary: Convert geo-coordinates to a postal address
      operationId: geocodeReverseJson
      tags:
        - Reverse Geocoding
      requestBody:
        description: Coordinates payload to search for
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeocodeReversePayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/GeocodeResult"
          description: OK
        "204":
          description: An empty response if no entry could be found for the specified
            coordinates.
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      summary: Convert geo-coordinates to a postal address
      operationId: geocodeReverse
      tags:
        - Reverse Geocoding
      parameters:
        - name: latitude
          in: query
          required: true
          description: The latitude coordinate of a point to search for. For example
            "48.20661"
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          required: true
          description: The longitude coordinate of a point to search for. For example
            "16.36301"
          schema:
            type: number
            format: double
        - name: language
          in: query
          required: false
          description: "The language used for result localization based on ISO 639-1.\
          \ For example: \"en\" or \"fr\""
          schema:
            type: string
            default: en
      responses:
        "200":
          $ref: "#/components/responses/GeocodeResult"
          description: OK
        "204":
          description: An empty response if no entry could be found for the specified
            coordinates.
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/indexes/{index}:
    get:
      summary: "List various, always up-to-date indexes like consumer price index\
        \ for many countries"
      operationId: indexes
      tags:
        - Indexes
      parameters:
        - name: index
          in: path
          required: true
          description: The identification of the index. A complete list of available
            indexes can be found in the documentation
          schema:
            $ref: "#/components/schemas/Index"
            type: string
        - name: frequency
          in: query
          required: false
          description: The frequency in which the index is published
          schema:
            $ref: "#/components/schemas/IndexFrequency"
            default: yearly
      responses:
        "200":
          $ref: "#/components/responses/IndexResult"
          description: OK
        "204":
          description: An empty response if specified index is not available.
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/invoice-pdf:
    post:
      summary: Create a invoice PDF
      operationId: createInvoicePDFV1
      deprecated: true
      tags:
        - Invoice PDF
      requestBody:
        description: The invoice object to create a PDF from.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoicePayloadV1"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/InvoicePdf"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/swiss-qr-invoice:
    post:
      summary: Create a Swiss QR invoice
      operationId: createSwissQrInvoice
      tags:
        - Swiss QR Invoice
      requestBody:
        description: The payload to generate QR invoice from
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwissQrInvoicePayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/SwissQrInvoice"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v2/invoice-pdf:
    post:
      summary: Create a invoice PDF
      operationId: createInvoicePDFV2
      tags:
        - Invoice PDF
      requestBody:
        description: The invoice object to create a PDF from.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoicePayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/InvoicePdf"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /v1/barcode:
    post:
      summary: Generate a barcode
      operationId: generateBarcodeJson
      tags:
        - Barcode
      requestBody:
        description: Barcode payload to generate
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BarcodePayload"
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          $ref: "#/components/responses/Barcode"
          description: OK
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: "Prefix the value with \"Bearer\". For example: \"Bearer APIKEY\""
  schemas:
    HtmlPayload:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          description: The HTML document to be converted
        header:
          type: string
          description: A HTML document used as PDF header
        footer:
          type: string
          description: A HTML document used as PDF footer
        width:
          type: number
          format: float
          description: Page width in centimeter
          default: 21
        height:
          type: number
          format: float
          description: Page height in centimeter
          default: 29.7
        marginTop:
          type: number
          format: float
          description: Top page margin in centimeter
          default: 1
        marginBottom:
          type: number
          format: float
          description: Bottom page margin in centimeter
          default: 1
        marginStart:
          type: number
          format: float
          description: Start (left) page margin in centimeter
          default: 1
        marginEnd:
          type: number
          format: float
          description: End (right) page margin in centimeter
          default: 1
        landscape:
          type: boolean
          description: Page orientation
          default: false
        printBackground:
          type: boolean
          description: Print background graphics
          default: false
    ErrorMessage:
      type: object
      required:
        - messages
      properties:
        messages:
          type: array
          items:
            type: string
          description: A list of error messages
    EpcQrCodePayload:
      type: object
      required:
        - iban
        - recipient
      properties:
        bic:
          type: string
          description: The bank identifier code of the recipient bank
        iban:
          type: string
          description: The international bank account number of the recipient
        recipient:
          type: string
          description: The recipients name
        currency:
          type: string
          description: The currency according to ISO 4217
          default: EUR
        amount:
          type: number
          format: float
          description: The amount with a maximum of two decimal places
        reference:
          type: string
          description: The payment reference
        text:
          type: string
          description: The bank transfer text
        size:
          type: integer
          format: int32
          description: The size of the QR code in pixels
          default: 300
          maximum: 2000
          minimum: 100
        frame:
          type: boolean
          description: Draw a frame around the QR code
          default: false
        message:
          type: string
          description: A user hint
        version:
          type: integer
          format: int32
          description: The version in which the QR code is to be generated
          default: 2
          maximum: 2
          minimum: 1
    VatVerificationResult:
      type: object
      required:
        - valid
      properties:
        valid:
          type: boolean
          description: The validity of the passed VAT ID
        name:
          type: string
          description: The company's name related to the passed VAT ID
        address:
          type: string
          description: The company's address related to the passed VAT ID
        countryCode:
          type: string
          description: The company's country based on ISO 3166-1 alpha-2
    VatVerificationPayload:
      type: object
      required:
        - vatId
      properties:
        vatId:
          type: string
          description: The VAT ID to check.
    GeocodeResult:
      type: object
      required:
        - address
        - position
      properties:
        position:
          type: object
          required:
            - latitude
            - longitude
          description: "The coordinates (latitude, longitude) of a point on a map\
            \ corresponding to the searched place"
          properties:
            latitude:
              type: number
              format: double
              description: Latitude of the address. For example "48.20661"
            longitude:
              type: number
              format: double
              description: Longitude of the address. For example "16.36301"
        address:
          type: object
          description: The postal address of the searched place
          properties:
            houseNumber:
              type: string
              description: The house number. For example "1a" or "27"
            street:
              type: string
              description: Name of the street
            city:
              type: string
              description: The localised name of the city
            postalCode:
              type: string
              description: An alphanumeric string included in a postal address such
                as post code or ZIP code. For example "1010"
            country:
              type: string
              description: The localised country name
            countryCode:
              type: string
              description: A two letter country code based on ISO 3166-1 alpha-2.
                For example "AT"
    GeocodeSearchPayload:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: "A free-text address query. For example: \"Heldenplatz, Wien\"\
            \ or \"Wiedner Hauptstraße 32, 1040 Wien\""
        language:
          type: string
          description: "The language used for result localization based on ISO 639-1.\
            \ For example: \"en\" or \"fr\""
          default: en
    GeocodeReversePayload:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          description: The latitude coordinate of a point to search for. For example
            "48.20661"
        longitude:
          type: number
          format: double
          description: The longitude coordinate of a point to search for. For example
            "16.36301"
        language:
          type: string
          description: "The language used for result localization based on ISO 639-1.\
            \ For example: \"en\" or \"fr\""
          default: en
    Index:
      type: string
      enum:
        - at-cpi-1
        - at-cpi-2
        - at-cpi-1966
        - at-cpi-1976
        - at-cpi-1986
        - at-cpi-1996
        - at-cpi-2000
        - at-cpi-2005
        - at-cpi-2010
        - at-cpi-2015
        - at-cpi-2020
        - de-cpi-2015
        - at-eu-hicp-2015
        - be-eu-hicp-2015
        - bg-eu-hicp-2015
        - cz-eu-hicp-2015
        - dk-eu-hicp-2015
        - de-eu-hicp-2015
        - ee-eu-hicp-2015
        - ie-eu-hicp-2015
        - gr-eu-hicp-2015
        - es-eu-hicp-2015
        - fr-eu-hicp-2015
        - hr-eu-hicp-2015
        - it-eu-hicp-2015
        - cy-eu-hicp-2015
        - lv-eu-hicp-2015
        - lt-eu-hicp-2015
        - lu-eu-hicp-2015
        - hu-eu-hicp-2015
        - mt-eu-hicp-2015
        - nl-eu-hicp-2015
        - pl-eu-hicp-2015
        - pt-eu-hicp-2015
        - ro-eu-hicp-2015
        - si-eu-hicp-2015
        - sk-eu-hicp-2015
        - fi-eu-hicp-2015
        - se-eu-hicp-2015
        - is-eu-hicp-2015
        - no-eu-hicp-2015
        - ch-eu-hicp-2015
        - gb-eu-hicp-2015
        - mk-eu-hicp-2015
        - rs-eu-hicp-2015
        - tr-eu-hicp-2015
        - us-eu-hicp-2015
        - ea-eu-hicp-2015
        - eea-eu-hicp-2015
        - eu-eu-hicp-2015
    IndexFrequency:
      type: string
      enum:
        - MONTHLY
        - YEARLY
    IndexValue:
      type: object
      required:
        - year
        - value
      properties:
        year:
          type: integer
          description: The year in the index series which the value represents
        month:
          type: integer
          description: The month in the index series which the value represents
        value:
          type: number
          format: float
          description: The index value
    IndexResult:
      type: object
      required:
        - id
        - name
        - frequency
      properties:
        id:
          type: string
          description: The index name
        name:
          type: string
          description: The official name of the index
        source:
          type: string
          description: The data source of the index
        frequency:
          $ref: "#/components/schemas/IndexFrequency"
          description: The frequency in which the index is published
        values:
          type: array
          items:
            $ref: "#/components/schemas/IndexValue"
          description: The index series in ascending order
    SwissQrInvoiceCreditor:
      type: object
      required:
        - iban
        - name
        - postalCode
        - city
      properties:
        iban:
          type: string
          description: The international bank account number of the creditor
        name:
          type: string
          maxLength: 70
          description: The creditors name
        street:
          type: string
          maxLength: 70
          description: The creditors street
        postalCode:
          type: string
          maxLength: 16
          description: The creditors postal code
        city:
          type: string
          maxLength: 35
          description: The creditors city
        country:
          type: string
          description: The creditors country
          default: CH
    SwissQrInvoiceDebtor:
      type: object
      required:
        - name
        - postalCode
        - city
      properties:
        name:
          type: string
          maxLength: 70
          description: The debtors name
        street:
          type: string
          maxLength: 70
          description: The debtors street
        postalCode:
          type: string
          maxLength: 16
          description: The debtors postal code
        city:
          type: string
          maxLength: 35
          description: The debtors city
        country:
          type: string
          description: The debtors country
          default: CH
    InvoicePayloadV1:
      type: object
      required:
        - sender
        - recipient
        - items
      properties:
        template:
          type: string
          enum:
            - DEFAULT
            - CLASSIC
            - MODERN
            - MINIMALISTIC
          description: The invoice template
          default: DEFAULT
        sender:
          type: array
          items:
            type: string
          description: The data of the invoice issuer
        recipient:
          type: array
          items:
            type: string
          description: The data of the invoice recipient
        logo:
          type: string
          description: The logo of the invoice issuer encoded as base64.
        locale:
          type: string
          description: The country or language according to which the values are to
            be formatted.
          default: de-AT
        currency:
          type: string
          description: The currency according to ISO 4217
          default: EUR
        items:
          type: array
          items:
            type: object
            required:
              - description
            description: "A single invoice item. Either unitPrice or sumPrice must\
              \ be set. If the unitPrice field is set, the sumPrice is calculated."
            properties:
              description:
                type: string
                description: The description of the invoice item
              amount:
                type: number
                format: double
                description: The amount of the invoice item
                default: 1
              unit:
                type: string
                description: "The optional unit, for example, kilogram or piece."
              unitPrice:
                type: number
                format: double
                description: The price per unit
              sumPrice:
                type: number
                format: double
                description: "The total price of the invoice item. If the field is\
                  \ not set, it is calculated using the unit price and amount."
          description: The list of items that are to be invoiced.
        footerItems:
          type: array
          items:
            type: object
            description: "An informative element that is shown in the footer of the\
              \ invoice, for example, to display information about the company."
            properties:
              title:
                type: string
                description: The item title
              values:
                type: array
                items:
                  type: string
                description: A list of values
          description: "The list of footer items. An informative element that is shown\
            \ in the footer of the invoice, for example, to display information about\
            \ the company."
        contextItems:
          type: array
          items:
            type: object
            description: "An informative element that is shown in the content of the\
              \ invoice, for example to display detailed information such as the invoice\
              \ number for the respective invoice."
            properties:
              title:
                type: string
                description: The item title
              value:
                type: string
                description: The item value
          description: "The list of context items. An informative element that is\
            \ shown in the content of the invoice, for example to display detailed\
            \ information such as the invoice number for the respective invoice."
        feeTaxItems:
          type: array
          items:
            type: object
            required:
              - title
            description: "An element to add any tax and/or fees in addition to the\
              \ invoice items. When using the 'percent' field, the value is calculated\
              \ from the sum of the invoice items including any previous taxes and\
              \ fees. The values are calculated in the order passed."
            properties:
              title:
                type: string
                description: The element title for example "20% VAT" or "Dunning charge".
              percent:
                type: number
                format: float
                description: The item percent. The resulting value is calculated from
                  the sum of the invoice items including any previous taxes and fees.
                  The values are calculated in the order passed.
              value:
                type: number
                format: double
                description: The item value
          description: "The list of fee and tax items. An element to add any tax and/or\
            \ fees in addition to the invoice items. When using the 'percent' field,\
            \ the value is calculated from the sum of the invoice items including\
            \ any previous taxes and fees. The values are calculated in the order\
            \ passed."
        notice:
          type: string
          description: A note that is printed at the end of the invoice.
        labels:
          type: object
          description: 'This object can be used to overwrite standard invoice texts. '
          properties:
            invoice:
              type: string
              default: Invoice
            subtotal:
              type: string
              default: Subtotal
            total:
              type: string
              default: Total
            amount:
              type: string
              default: Amount
            description:
              type: string
              default: Description
            unitPrice:
              type: string
              default: Unit price
            sumPrice:
              type: string
              default: Sum price
            numberOfPages:
              type: string
              description: "Use the placeholders {current} and {total} for the current\
                \ page and the total number of pages respectively."
              default: "{current} | {total}"
        epcQrCode:
          type: object
          required:
            - iban
            - recipient
          description: "The information for creating an EPC QR code. If this object\
            \ is provided, a QR code will be printed on the invoice."
          properties:
            iban:
              type: string
              description: The international bank account number of the recipient
            bic:
              type: string
              description: The bank identifier code of the recipient bank
            recipient:
              type: string
              description: The recipients name
            reference:
              type: string
              description: The payment reference
            text:
              type: string
              description: The bank transfer text
            message:
              type: string
              description: A user hint
        swissQrInvoice:
          type: object
          required:
            - creditor
          description: "The information for creating a Swiss QR invoice. If this object\
            \ is provided, a Swiss QR invoice code will be printed on the invoice.\
            \ For more details see Swiss QR invoice documentation."
          properties:
            creditor:
              $ref: "#/components/schemas/SwissQrInvoiceCreditor"
            debtor:
              $ref: "#/components/schemas/SwissQrInvoiceDebtor"
            information:
              type: string
              description: Additional unstructured information.
            structuredInformation:
              type: string
              description: Additional structured information.
            reference:
              type: string
              description: The payment reference based either on ISO 11649 or on QR
                reference.
        currencyFormat:
          type: string
          enum:
            - SYMBOL
            - CODE
            - NAME
          description: "The currency format to be used. SYMBOL for the currency symbol\
            \ e.g. €, CODE for the currency abbreviation e.g. EUR and NAME for the\
            \ name of the currency which is translated using the 'locale' variable,\
            \ e.g. Euro."
          default: CODE
    SwissQrInvoicePayload:
      type: object
      required:
        - creditor
      properties:
        creditor:
          $ref: "#/components/schemas/SwissQrInvoiceCreditor"
        debtor:
          $ref: "#/components/schemas/SwissQrInvoiceDebtor"
        currency:
          type: string
          enum:
            - CHF
            - EUR
          description: The currency according to ISO 4217.
          default: CHF
        amount:
          type: number
          format: float
          description: The amount with a maximum of two decimal places
        information:
          type: string
          description: Additional unstructured information.
        structuredInformation:
          type: string
          description: Additional structured information.
        reference:
          type: string
          description: The payment reference based either on ISO 11649 or on QR reference.
        size:
          type: string
          enum:
            - QR_CODE
            - QR_BILL
            - A4_SHEET
          description: The output size.
          default: QR_CODE
        language:
          type: string
          enum:
            - DE
            - FR
            - IT
            - EN
          description: The output language.
          default: EN
    InvoiceParty:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: The company name
        contact:
          type: string
          description: The name of a contact person in the company
        street:
          type: string
          description: The street of the company headquarters
        postalCode:
          type: string
          description: The postal code of the company headquarters
        city:
          type: string
          description: The city of the company headquarters
        country:
          type: string
          description: The country of the company headquarters
        vatNumber:
          type: string
          description: The company's VAT number
        iban:
          type: string
          description: The international bank account number of the company.
        bic:
          type: string
          description: The bank identifier code of the company
    InvoiceMetadata:
      type: object
      properties:
        issueDate:
          type: string
          description: "The date of issue of the invoice. The value is used for the\
            \ ZUGFeRD e-invoice. If the value is missing, the current date is used."
        dueDate:
          type: string
          description: The due date of the invoice. The value is used for the ZUGFeRD
            e-invoice.
        number:
          type: string
          description: The invoice number of the invoice. The value is used for the
            ZUGFeRD e-invoice.
    InvoicePayload:
      type: object
      required:
        - sender
        - recipient
        - items
      properties:
        template:
          type: string
          enum:
            - DEFAULT
            - CLASSIC
            - MODERN
            - MINIMALISTIC
          description: The invoice template
          default: DEFAULT
        sender:
          $ref: "#/components/schemas/InvoiceParty"
        recipient:
          $ref: "#/components/schemas/InvoiceParty"
        logo:
          type: string
          description: The logo of the invoice issuer encoded as base64.
        locale:
          type: string
          description: The country or language according to which the values are to
            be formatted.
          default: de-AT
        currency:
          type: string
          description: The currency according to ISO 4217
          default: EUR
        items:
          type: array
          items:
            type: object
            required:
              - description
            description: "A single invoice item. Either unitPrice or sumPrice must\
              \ be set. If the unitPrice field is set, the sumPrice is calculated."
            properties:
              description:
                type: string
                description: The description of the invoice item
              amount:
                type: number
                format: double
                description: The amount of the invoice item
                default: 1
              unit:
                type: string
                description: "The optional unit, for example, kilogram or piece."
              unitPrice:
                type: number
                format: double
                description: The price per unit
              sumPrice:
                type: number
                format: double
                description: "The total price of the invoice item. If the field is\
                  \ not set, it is calculated using the unit price and amount."
              tax:
                type: number
                format: double
                description: The value added tax in percent
                default: 0
          description: The list of items that are to be invoiced.
        footerItems:
          type: array
          items:
            type: object
            description: "An informative element that is shown in the footer of the\
              \ invoice, for example, to display information about the company."
            properties:
              title:
                type: string
                description: The item title
              values:
                type: array
                items:
                  type: string
                description: A list of values
          description: "The list of footer items. An informative element that is shown\
            \ in the footer of the invoice, for example, to display information about\
            \ the company."
        contextItems:
          type: array
          items:
            type: object
            description: "An informative element that is shown in the content of the\
              \ invoice, for example to display detailed information such as the invoice\
              \ number for the respective invoice."
            properties:
              title:
                type: string
                description: The item title
              value:
                type: string
                description: The item value
          description: "The list of context items. An informative element that is\
            \ shown in the content of the invoice, for example to display detailed\
            \ information such as the invoice number for the respective invoice."
        feeTaxItems:
          type: array
          items:
            type: object
            required:
              - title
            description: "An element to add any tax and/or fees in addition to the\
              \ invoice items. When using the 'percent' field, the value is calculated\
              \ from the sum of the invoice items including any previous taxes and\
              \ fees. The values are calculated in the order passed."
            properties:
              title:
                type: string
                description: The element title for example "Dunning charge".
              percent:
                type: number
                format: float
                description: The item percent. The resulting value is calculated from
                  the sum of the invoice items including any previous taxes and fees.
                  The values are calculated in the order passed.
              value:
                type: number
                format: double
                description: The item value
          description: "The list of fee and tax items. An element to add any tax and/or\
            \ fees in addition to the invoice items. When using the 'percent' field,\
            \ the value is calculated from the sum of the invoice items including\
            \ any previous taxes and fees. The values are calculated in the order\
            \ passed."
        notice:
          type: string
          description: A note that is printed at the end of the invoice.
        labels:
          type: object
          description: 'This object can be used to overwrite standard invoice texts. '
          properties:
            invoice:
              type: string
              default: Invoice
            subtotal:
              type: string
              default: Subtotal
            total:
              type: string
              default: Total
            amount:
              type: string
              default: Amount
            description:
              type: string
              default: Description
            unitPrice:
              type: string
              default: Unit price
            sumPrice:
              type: string
              default: Sum price
            numberOfPages:
              type: string
              description: "Use the placeholders {current} and {total} for the current\
                \ page and the total number of pages respectively."
              default: "{current} | {total}"
            vat:
              type: string
              default: VAT
        epcQrCode:
          type: object
          description: "The information for creating an EPC QR code. If this object\
            \ is provided, a QR code will be printed on the invoice."
          properties:
            reference:
              type: string
              description: The payment reference
            text:
              type: string
              description: The bank transfer text
            message:
              type: string
              description: A user hint
        swissQrInvoice:
          type: object
          description: "The information for creating a Swiss QR invoice. If this object\
            \ is provided, a Swiss QR invoice code will be printed on the invoice.\
            \ For more details see Swiss QR invoice documentation."
          properties:
            information:
              type: string
              description: Additional unstructured information.
            structuredInformation:
              type: string
              description: Additional structured information.
            reference:
              type: string
              description: The payment reference based either on ISO 11649 or on QR
                reference.
        currencyFormat:
          type: string
          enum:
            - SYMBOL
            - CODE
            - NAME
          description: "The currency format to be used. SYMBOL for the currency symbol\
            \ e.g. €, CODE for the currency abbreviation e.g. EUR and NAME for the\
            \ name of the currency which is translated using the 'locale' variable,\
            \ e.g. Euro."
          default: CODE
        metadata:
          $ref: "#/components/schemas/InvoiceMetadata"
        zugferdDisabled:
          type: boolean
          description: A flag to deactivate the creation of the ZUGFerd invoice.
          default: false
    BarcodeAztecOptions:
      type: object
      description: Additional options for AZTEC barcode format
      properties:
        characterSet:
          type: string
          description: "The character set in which the data is to be encoded in the\
            \ barcode. For example UTF-8, ISO 8859-1 or US-ASCII"
        errorCorrection:
          type: integer
          format: int32
          description: Specifies what degree of error correction to use in percent.
            Aztec codes should have a minimum of 23%.
          default: 33
          maximum: 100
          minimum: 0
        layers:
          type: integer
          format: int32
          description: "Specifies the required number of layers for an Aztec code.\
            \ A negative number (-1, -2, -3, -4) specifies a compact Aztec code. 0\
            \ indicates to use the minimum number of layers. A positive number (1,\
            \ 2, .. 32) specifies a normal Aztec code."
          default: 0
          maximum: 32
          minimum: -4
    BarcodeCode128Options:
      type: object
      description: Additional options for CODE_128 barcode format
      properties:
        compact:
          type: boolean
          description: Specifies whether to use compact mode. This can yield slightly
            smaller bar codes
          default: false
    BarcodeDataMatrixOptions:
      type: object
      description: Additional options for DATA_MATRIX barcode format
      properties:
        compact:
          type: boolean
          description: Specifies whether to use compact mode. This can yield slightly
            smaller bar codes
          default: false
        forceC40:
          type: boolean
          description: Force C40 encoding. C40 and compact are mutually exclusive
          default: false
        gs1Format:
          type: boolean
          description: Specifies whether the data should be encoded to the GS1 standard
          default: false
        characterSet:
          type: string
          description: "The character set in which the data is to be encoded in the\
            \ barcode. For example UTF-8, ISO 8859-1 or US-ASCII"
        shape:
          type: string
          enum:
            - NONE
            - SQUARE
            - RECTANGLE
          description: Specifies the matrix shape
          default: NONE
    BarcodePdf417Options:
      type: object
      description: Additional options for PDF_417 barcode format
      properties:
        compact:
          type: boolean
          description: Specifies whether to use compact mode. This can yield slightly
            smaller bar codes
          default: false
        autoEci:
          type: boolean
          description: Specifies whether to automatically insert ECIs
          default: false
        characterSet:
          type: string
          description: "The character set in which the data is to be encoded in the\
            \ barcode. For example UTF-8, ISO 8859-1 or US-ASCII"
        compaction:
          type: string
          enum:
            - AUTO
            - TEXT
            - BYTE
            - NUMERIC
          description: Specifies the matrix shape
          default: AUTO
        errorCorrection:
          type: integer
          format: int32
          description: Specifies what degree of error correction to use
          default: 2
          maximum: 8
          minimum: 0
    BarcodeQrCodeOptions:
      type: object
      description: Additional options for QR_CODE barcode format
      properties:
        compact:
          type: boolean
          description: Specifies whether to use compact mode. This can yield slightly
            smaller codes
          default: false
        gs1Format:
          type: boolean
          description: Specifies whether the data should be encoded to the GS1 standard
          default: false
        version:
          type: integer
          format: int32
          description: Specifies the exact version of QR code to be encoded
          maximum: 40
          minimum: 1
        characterSet:
          type: string
          description: "The character set in which the data is to be encoded in the\
            \ barcode. For example UTF-8, ISO 8859-1 or US-ASCII"
        errorCorrection:
          type: string
          enum:
            - L
            - M
            - Q
            - H
          description: Specifies the error correction to use
          default: L
    BarcodePayload:
      type: object
      required:
        - format
        - content
      properties:
        format:
          type: string
          enum:
            - AZTEC
            - CODABAR
            - CODE_39
            - CODE_93
            - CODE_128
            - DATA_MATRIX
            - EAN_8
            - EAN_13
            - INTERLEAVED_TWO_OF_FIVE
            - PDF_417
            - QR_CODE
            - UPC_A
            - UPC_E
          description: The barcode type
        content:
          type: string
          description: The content to be encoded in the barcode
        width:
          type: integer
          format: int32
          description: The minimum width of the barcode in pixels
          default: 1
          maximum: 2000
          minimum: 1
        height:
          type: integer
          format: int32
          description: The minimum height of the barcode in pixels
          default: 1
          maximum: 2000
          minimum: 1
        foregroundColor:
          type: string
          description: "The foreground color of the barcode as a hex code, for example\
            \ #FF00DD"
          default: "#000000"
        backgroundColor:
          type: string
          description: "The background color of the barcode as a hex code, for example\
            \ #EEEEEE"
          default: "#FFFFFF"
        output:
          type: string
          enum:
            - PNG
            - JPEG
            - GIF
            - TIFF
            - WEBP
          description: The image format in which the barcode is to be generated
          default: WEBP
        options:
          oneOf:
            - $ref: "#/components/schemas/BarcodeAztecOptions"
            - $ref: "#/components/schemas/BarcodeCode128Options"
            - $ref: "#/components/schemas/BarcodeDataMatrixOptions"
            - $ref: "#/components/schemas/BarcodePdf417Options"
            - $ref: "#/components/schemas/BarcodeQrCodeOptions"
          description: Some barcode formats allow you to set additional options
  responses:
    HtmlToPdf:
      description: The generated PDF file
      content:
        application/pdf:
          schema:
            type: string
            format: byte
    PaymentRequired:
      description: Your remaining quota is not sufficient to perform the request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorMessage"
    Forbidden:
      description: Access is not allowed. The API key may be missing from the request
        or the API key may have been revoked.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorMessage"
    NotAcceptable:
      description: A required parameter is missing or in a wrong format.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorMessage"
    InternalServerError:
      description: An unexpected error occurred on the server side. Please retry the
        request at a later time.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorMessage"
    ServiceUnavailable:
      description: "The endpoint is temporarily unavailable, either due to planned\
        \ maintenance or outage. Please retry the request at a later time."
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorMessage"
    EpcQrCode:
      description: The generated QR code as PNG
      content:
        image/png:
          schema:
            type: string
            format: byte
    VatVerificationResult:
      description: The validity of the VAT ID and additional information about the
        company
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/VatVerificationResult"
    GeocodeResult:
      description: The search result
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GeocodeResult"
    IndexResult:
      description: The index series and associated metadata
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/IndexResult"
    InvoicePdf:
      description: The generated PDF file
      content:
        application/pdf:
          schema:
            type: string
            format: byte
    SwissQrInvoice:
      description: The generated Swiss QR invoice in the requested file format.
      content:
        image/svg+xml:
          schema:
            type: string
            format: binary
        application/svg+xml:
          schema:
            type: string
            format: binary
        image/png:
          schema:
            type: string
            format: binary
        application/pdf:
          schema:
            type: string
            format: binary
    Barcode:
      description: The generated barcode
      content:
        image/png:
          schema:
            type: string
            format: byte
        image/jpeg:
          schema:
            type: string
            format: byte
        image/tiff:
          schema:
            type: string
            format: byte
        image/gif:
          schema:
            type: string
            format: byte
        image/webp:
          schema:
            type: string
            format: byte
