name: Build APIstax Java client

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v2
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run build with Gradle Wrapper
        env:
          PORTAL_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          PORTAL_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        run: ./gradlew build